

###/.env.*


/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/backup.sql
/back.sql


###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###
