:root{
  --cwl_container-width: 80%;
  --title_container-font-size: 300%;
  --img_container-width: 60%;
  --link_container-font-size: 250%;
}

@media (max-width: 1800px) {
  :root{
    --cwl_container-width: 90%;
    --title_container-font-size: 265%;
    --img_container-width: 80%;
    --link_container-font-size: 220%;
  }
}

@media (max-width: 768px) {
  :root{
    --cwl_container-width: 100%;
    --title_container-font-size: 1rem;
    --img_container-width: 96%;
    --link_container-font-size: 0.7rem;
  }
}



.body_container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cwl_container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: var(--cwl_container-width);
  border-radius: 2px;
  margin-bottom: 5%;
}

.cwl_container:last-child{
  margin-bottom: 0;
}

.title_container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 96%;
  margin-top: 0.7%;
  margin-bottom: 1%;
  padding-top: 0.3%;
  padding-bottom: 0.3%;

  font-weight: bold;
  font-size: var(--title_container-font-size);
  color: #0c0c0c;

}

.content_container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 90%;
  margin-bottom: 0.5%;
  padding-bottom: 0.5%;
}

.link_container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  font-weight: bold;
  font-size: var(--link_container-font-size);
  margin-bottom: 0.5%;
}
.link_container a{
  color: #14529b;
}

.img_container, .img_container div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.img_container img{
  width: var(--img_container-width);
}

.second_img{margin-top:3%}