
.table_container{
  width: 100%;
  height: 100%;
  flex: 8.5;
}

.options_container{
  width: 100%;
  height: 100%;
  flex: 1.5;
}

#cwl_table {
  width: 100%;
  height: 100%;
  max-width: 1800px;
  table-layout: fixed;
}

tr{
  height: 40px;
  max-height: 40px;
  min-height: 40px;
}

.td_icon {
  width: 2%;
  max-width: 2%;
  height: 100%;
}

.td_value, .th_more, .th_total. .td_more{
  width: 6%;
  height: 100%;
}

.td_member{
  width: 20%;
}


.input_more{
  width: 100%;
  height: 100%;
}


.message_icon {
  /* @todo */
  width: var(--message_icon-size);
  height: var(--message_icon-size);
}
/*
.label_more{
  width: 100%;
  height: 100%;
}
 */

.th_days_container{
  width: 100%;
  height: 100%;
}

td:nth-child(1), th:nth-child(1){
  width: var(--td_nth_child_1-width);
  max-width: var(--td_nth_child_1-width);
  height: 100%;
}

td:nth-child(2), th:nth-child(2) {
  width: var(--td_nth_child_2-width);
}

td:nth-child(n+3):nth-child(-n+10), th:nth-child(n+3):nth-child(-n+10) {
  width: var(--td_nth_child_n_3-width);
  max-width: var(--td_nth_child_n_3-width);
}


.result_day_data{
  height: 100%;
  width: 100%;
}